# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/

# pycharm
.idea/

# Ipython Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Media + Static files
emeraldpm/mediafiles
emeraldpm/staticfiles

# Log files
*.log
