asgiref==3.2.10
bleach==3.1.5
Django==3.0.8
django-appconf==1.0.4
django-compressor==2.4
django-environ==0.4.5
django-libsass==0.8
django-social-auth==0.7.28
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
httplib2==0.18.1
importlib-metadata==1.7.0
libsass==0.20.0
Markdown==3.2.2
markdown2==2.3.9
oauth2==1.9.0.post1
packaging==20.4
psycopg2==2.8.5
pyparsing==2.4.7
python-openid==2.2.5
pytz==2020.1
rcssmin==1.0.6
rjsmin==1.1.0
six==1.15.0
sqlparse==0.3.1
webencodings==0.5.1
zipp==3.1.0
